<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/common_scripts.js"></script>
    <link rel="stylesheet" href="../static/css/common_styles.css">
    <link rel="stylesheet" href="../static/css/weather_styles.css">
    <title>Weather</title>
</head>

<body>
    <main>
        <section class="frame-container ov-container">
            <div class="frame ov-frame">
                <div class="ov-items">
                    <!-- ADD ICONS LATER -->
                    <div class="ov-search-button-container">
                        <img src="" alt="weather icon" class="ov-weather-icon">
                        <button class="search-button"><img src="../static/icons/searchIcon.png" alt="search icon"></button>
                    </div>
                    <h1 id="ov-temperature">28<sup>°C</sup></h1>
                    <div class="ov-weathercode-container">
                        <p id="ov-weathercode">Rainy Storm Clouds</p>
                    </div>
                    <hr>
                    <div class="ov-location-container">
                        <p id="ov-location">Florida, US</p>
                    </div>
                    <div class="ov-time-container">
                        <p id="ov-time">24 July, 2022 <span class="bold">5:01 AM</span></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>